.row{
  .mat-form-field {
  display :unset !important;
}}


td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: -moz-center;
}
.project-add{
  position: relative;
  max-height: calc(100% - 151px);
  overflow: auto;
  width: 100%;
  top: 151px;

}

.header-detail-project-entity{
  position: fixed;
  top: -20px;
}
.button-header{
  top: 243px;
  position: sticky;
  z-index: 2;
  margin-left: 60px;
}
