<div class="header-detail-project-entity w-100">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-5 w-100">
    <button mat-icon-button routerLink="/">
      <mat-icon>keyboard_arrow_left</mat-icon>
      go back
    </button>
  </div>
  <div>
    <h2 class="text-center">{{project?.nameProject}}</h2>
  </div>
</div>
<div *ngIf="isCreateRelation" class="button-header">
  <button mat-raised-button color="warn"
          (click)="createRelationship()">
    <mat-icon>add</mat-icon> Relationship</button>
</div>
<div class="project-add">
  <div class="example-button-container mb-2 float-right mr-5">
    <button mat-raised-button color="warn" (click)=addEntity()>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="isDisplayed" class="ml-5 mr-5">
    <h3>Entities :</h3>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
      <ng-container matColumnDef="check">

        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}">Relations</th>

        <td mat-cell *matCellDef="let element">
          <mat-checkbox (change)=chooseEntity($event,element) [checked]="isChecked" [disabled]="element.disabled"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="nameEntity">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}"> Entity Name</th>
        <td mat-cell *matCellDef="let element"> {{element.nameEntity}} </td>
      </ng-container>
      <ng-container matColumnDef="isTrackable">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}"> isTrackable</th>
        <td mat-cell *matCellDef="let element"> {{element.isTrackable}} </td>
      </ng-container>
      <ng-container matColumnDef="project_id">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}"> Project</th>
        <td mat-cell *matCellDef="let element"> {{element.project_id}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}"> Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="show attributes" (click)=showEntityDetailsaction(element.id)>
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button aria-label="show attributes" (click)=editEntityAction(element)>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="show attributes" (click)=deleteEntity(element)>
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
      <ng-container matColumnDef="addAttribute">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'visibility': isCreateRelation ? 'collapse' : 'visible'}"> Attributes</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="add attributes" (click)=addAttribute(element.id)>
            <mat-icon>add_circle</mat-icon>
          </button>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>

    <h3 *ngIf="relationships.length > 0">Relationships :</h3>
    <table *ngIf="relationships.length > 0" mat-table [dataSource]="dataSourceRelationships" class="mat-elevation-z8 w-100">

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.typeRelationship}} </td>
      </ng-container>
      <ng-container matColumnDef="parent">
        <th mat-header-cell *matHeaderCellDef> Parent</th>
        <td mat-cell *matCellDef="let element"> {{element.parentEntity?.nameEntity}} </td>
      </ng-container>
      <ng-container matColumnDef="child">
        <th mat-header-cell *matHeaderCellDef> Child</th>
        <td mat-cell *matCellDef="let element"> {{element.childEntity?.nameEntity}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button aria-label="show attributes" (click)=editRelationship(element)>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="show attributes" (click)=deleteRelationship(element)>
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedRelationshipsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedRelationshipsColumns;"></tr>
    </table>


  </div>
  <div *ngIf="!isDisplayed" class="ml-5 mr-5">
    <span>no Content</span>
  </div>
</div>
