<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> delete {{data.elementType}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Are you sure you want to delete this resource ? (this action is irreversible !)

    <div class="mt-4 float-right">
      <button mat-raised-button color="warn" class="mr-2 mt-2" (click)=delete()>
        <mat-icon>delete</mat-icon> delete
      </button>
      <button mat-raised-button color="secondary" class="mt-2" (click)=cancel()>
        <mat-icon>clear</mat-icon> cancel
      </button>
    </div>

  </mat-card-content>
</mat-card>
