<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="projectFormGroup">
    <form [formGroup]="projectFormGroup">
      <ng-template matStepLabel>Project informations</ng-template>
      <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput class="form-control" id="projectName" name="projectName" formControlName="projectName"
               placeholder="Enter project nameEntity" #projectName required>
        <mat-error>please choose a name</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Project Port</mat-label>
        <input matInput class="form-control" id="projectport" name="projectport" formControlName="projectport"
               placeholder="Enter project port" #projectport required>
        <mat-error>please choose a port</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Project Type</mat-label>
        <mat-select formControlName="projecttype" id="projecttype">
          <mat-option value="monolithic">Monolithic</mat-option>
          <mat-option value="Micro-services">Micro-services</mat-option>
        </mat-select>
        <mat-error>please choose a type</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="databaseFormGroup">
    <form [formGroup]="databaseFormGroup">
      <ng-template matStepLabel>Database informations</ng-template>
      <mat-form-field>
        <mat-label>Database nameEntity</mat-label>
        <input matInput class="form-control" id="databasename" name="databasename" formControlName="databasename"
               placeholder="Enter database nameEntity" #databasename>
      </mat-form-field>
      <br>
      <mat-label>Database type</mat-label>
      <br>
      <mat-form-field>
        <mat-select  id="databasetype" formControlName="databasetype">
          <mat-option value="Mysql">Mysql</mat-option>
          <mat-option value="Oracle">Oracle</mat-option>
          <mat-option value="MongoDB">MongoDB</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Database username</mat-label>
        <input matInput class="form-control" id="databaseusername" name="databaseusername"
               formControlName="databaseusername" placeholder="Enter database username"
               #databasusername>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" id="databasepassword" name="databasepassword"
               formControlName="databasepassword" #databasepassword>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="saveOrUpdate()">Create
      </button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
