.example-container .mat-form-field + .mat-form-field {
  margin-left : 8px;
}

.mat-icon {
  font-size     : 47px;
  margin-bottom : 15px;
}

table {
  width : 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding             : 27px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  text-align          : -moz-center;
}
.mat-checkbox{
  padding: 74px;
}
.add-entity{
  transform: translateX(326%);
  left: 50%;
}
