<div class="example-container text-center">
  <form [formGroup]="entityFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>entity Name</mat-label>
      <input matInput #entityName placeholder="Entity Name" formControlName="entityName">
      <mat-hint align="end"></mat-hint>
      <mat-error>veuillez entrer un nom</mat-error>
    </mat-form-field>
    <span class="example-list-section">
    <mat-checkbox class="example-margin" formControlName="isTrackable">
     isTrackable
    </mat-checkbox>
  </span>
  </form>
</div>
<app-add-attribute [displayButton] = false></app-add-attribute>
<button class="btn btn-primary add-entity" (click)="addEntity()">Add Entity</button>
