<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-white border-bottom shadow nav-style">
  <h5 class="my-0 mr-md-auto font-weight-normal">Springular</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#"></a>
    <a class="p-2 text-dark" href="#"></a>
    <a class="p-2 text-dark" href="#"></a>
    <a class="p-2 text-dark" href="#"></a>
  </nav>
  <button mat-icon-button>
    <mat-icon>person_outline</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>

<app-loader></app-loader>
