.nav-style {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}
.shadow {
  box-shadow: 0 .15rem 0.25rem rgba(0,0,0,.15)!important;
}
.docs-footer {
  padding: 0px 12px 0px 12px;
  height: 70px;
  font-size: 12px;
  margin-top: 40px;
  box-shadow: 0 .15rem 0.25rem rgba(0,0,0,.15)!important;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  position:fixed;
}
