<div class="example-container text-center">
  <form [formGroup]="attributeFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Attribute name</mat-label>
      <input matInput #attributeName placeholder="Attribute Name" formControlName="attributeName">
      <mat-hint align="end"></mat-hint>
      <mat-error>veuillez entrer un nom</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Attribute type</mat-label>
      <mat-select formControlName="attributeType" [(value)]="selectedItem" required id="attributeType" name="attributeType" #attributeType>
        <mat-option value="String">String</mat-option>
        <mat-option value="Double">Double</mat-option>
        <mat-option value="float">float</mat-option>
        <mat-option value="int">int</mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
      <mat-error>veuillez choisir un type</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="!attributeFormGroup.valid" class="ml-3" color="warn" (click)=addAttributeToTable()>
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </form>
  <div style="margin:50px">
    <div *ngIf="isDisplayed">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nameAttribute">
          <th mat-header-cell *matHeaderCellDef> Attribute Name</th>
          <td mat-cell *matCellDef="let element"> {{element.nameAttribute}} </td>
        </ng-container>
        <ng-container matColumnDef="typeAttribute">
          <th mat-header-cell *matHeaderCellDef> Attribute Type</th>
          <td mat-cell *matCellDef="let element"> {{element.typeAttribute}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <button class="btn btn-primary" *ngIf="displayButton" (click)="addAttributesToEntity()">Add Attributes</button>
    </div>
    <div *ngIf="!isDisplayed">
      <span>no Content</span>
    </div>

  </div>
</div>
