.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

table {
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 27px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: -moz-center;
}
