<div class="example-container text-center">
  <form [formGroup]="relationshipFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Parent Entity</mat-label>
      <input matInput #parentEntity placeholder="Parent Entity" formControlName="parentEntity">
      <mat-error>veuillez entrer votre parent</mat-error>
    </mat-form-field>
    <button (click)="swapEntities()" mat-icon-button aria-label="show attributes">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Child entity</mat-label>
      <input matInput #childEntity placeholder="childEntity" formControlName="childEntity">
      <mat-error>veuillez entrer votre child</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Relationship type</mat-label>
      <mat-select formControlName="type" id="type" name="type" #type>
        <mat-option value="{{element}}" *ngFor="let element of relationshipsTypes">{{element}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)=addRelationship()>
      <mat-icon>add</mat-icon> create
    </button>
  </form>
</div>
