
<div class="project-list-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-4 w-100">
  <h1 class="display-4">Springular</h1>
  <p class="lead">Quickly build and generate an effective spring Boot project for your potential customers with this tool. It’s built with default components and utilities with little customization.</p>
</div>

<div [ngClass]="projects.length > 3 ? 'p-3 projects container' : 'projects container few-elements'">
  <div class="card-deck mb-3 text-center ">
    <div class="card mb-4 shadow-sm dashed-card">
      <div class="card-body">
        <button mat-fab color="warn" class="add-button" (click)="addProject()">
          <mat-icon>add</mat-icon>
        </button>
        <hr>
        <h4 class="my-0 font-weight-normal"><small class="text-muted">New project</small></h4>
      </div>
    </div>
    <div class="card mb-4 shadow-sm" *ngFor="let project of projects">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{project.nameProject}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{project.entities.length}}
          <small class="text-muted">/ Entities</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Type: {{project.typeProject}}</li>
          <li>Port: {{project.portProject}}</li>
        </ul>
        <hr>
        <button mat-icon-button aria-label="show attributes" (click)="updateProject(project)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="show attributes" (click)="deleteProject(project)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button aria-label="show attributes" (click)=showProjectDetails(project)>
          <mat-icon>remove_red_eye</mat-icon>
        </button>
       <button mat-icon-button  (click)=generateProject(project)>
          <mat-icon>get_app</mat-icon>
       </button>
      </div>
    </div>
  </div>
</div>
