table {
  width: 100%;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.container {
  max-width: 2000px;
}

.project-list-header {
  position: fixed;
  max-width: 700px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
}

.card-deck .card {
  min-width: 250px;
  max-width: 280px;
}
.dashed-card {
  border-style: dashed;
  border-width: 4px;
}
.projects {
  position: relative;
  max-height: calc(100% - 240px);
  overflow: auto;
  top:240px
}
.few-elements {
  max-width: 847px !important;
}
.add-button {
  margin: 57px
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C5C5C5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}
