<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Les détails de l entitée {{displayedEntity.nameEntity}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource.attributes" class="mat-elevation-z8">
      <ng-container matColumnDef="attributeName">
        <th mat-header-cell *matHeaderCellDef> attributeName</th>
        <td mat-cell *matCellDef="let element"> {{element.nameAttribute}} </td>
      </ng-container>

      <ng-container matColumnDef="attributeType">
        <th mat-header-cell *matHeaderCellDef> attributeType</th>
        <td mat-cell *matCellDef="let element"> {{element.typeAttribute}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
