<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Comparing 2 versions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="propertyName">
        <th mat-header-cell *matHeaderCellDef> attribut</th>
        <td mat-cell *matCellDef="let element"> {{element.propertyName}} </td>
      </ng-container>

      <ng-container matColumnDef="left">
        <th mat-header-cell *matHeaderCellDef> old value</th>
        <td mat-cell *matCellDef="let element"> {{element.left}} </td>
      </ng-container>

      <ng-container matColumnDef="right">
        <th mat-header-cell *matHeaderCellDef> new value</th>
        <td mat-cell *matCellDef="let element"> {{element.right}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
